@model IEnumerable<auctionSystem.Models.BidTable>

@{
    ViewBag.Title = "About Auction System";
}

@section featured
{
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>hh</h1>
            </hgroup>
            <p>
                Auction System
            </p>
        </div>
    </section>
}
<p> It is body of Index view that renders in BodyRender.</p> 